<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Growth Studio - Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    {% for blog in blogs%}
        <h2>{{blog.title}}</h2>
        <p>{{blog.body | slice:":80"}}</p>
        <p>{{blog.posted}} - By {{blog.author}}</p>
    {% endfor %}
</body>
</html>